*{
    padding: 0;
    margin: 0;

}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}


ol li {
    width: 400px;
    list-style-position: inside;
    color: white;
    height: 35px;
    padding-left: 10px;
    padding-top: 15px;
    transition: 0.4s;
}

ol li:hover{
    background-color: white;
    color: #000000;
}


li:first-child {
    background-color: #000000;
}

li:nth-child(2) {
    background-color: #C0C0C0;
}

li:nth-child(3) {
    background-color: #808080;
}

li:nth-child(4) {
    background-color: #3498db;
}

li:nth-child(5) {
    background-color: #800000;
}

li:nth-child(6) {
    background-color: #FF0000;
}

li:nth-child(7) {
    background-color: #800080;
}

li:nth-child(8) {
    background-color: #FF00FF;
}

li:nth-child(9) {
    background-color: #008000;
}

li:nth-child(10) {
    background-color: #00FF00;
    color: #000000;
}

li:nth-child(11) {
    background-color: #808000;
}

li:nth-child(12) {
    background-color: #FFFF00;
    color: #000000;
}

li:nth-child(13) {
    background-color: #000080;
}

li:nth-child(14) {
    background-color: #0000FF;
}

li:nth-child(15) {
    background-color: #008080;
}

li:last-child {
    background-color: #00FFFF;
    color: #000000;
}